<div id="rust-ide-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{title}}</h1>
    </div>
    <div class="modal-body table-striped tab-content">
        <label for="rust-settings-racerPath">{{question}}:</label>
        <input id="rust-setting-gitPath" type="text" value="{{defaultValue}}" settingsProperty="rustPath" style="width: 500px" />
    </div>
    <div class="modal-footer">
        <button data-button-id="cancel" class="dialog-button btn cancel btn-80">{{BUTTON_CANCEL}}</button>
        <button data-button-id="ok" class="dialog-button btn primary btn-80">{{BUTTON_OK}}</button>
    </div>
</div>
