/* base on https://github.com/mackenza/Brackets-PHP-SmartHints */

.RustIDE-hints {
    padding-left: 22px;
    position: relative;
}

.RustIDE-hints-keywords:before {
    content: "K";
    background-color: #c800a4;
}

.RustIDE-hints-macros:before {
    content: "M";
    background-color: #3E999F;
}

.RustIDE-hints-fn:before {
    content: "R";
    background-color: #000
}

.RustIDE-hints:before {
    position: absolute;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    line-height: 16px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}


.CodeMirror .rust-linter-gutter {
    width: 20px;
}


.CodeMirror .rust-linter-gutter-icon {
    margin-left: 7px;
    cursor: pointer;
}

.rust-linter-gutter-error {
    color: #822;
}

.rust-linter-gutter-warning {
    color: #f89406;
}
